
body {
    background-color:gray;
    background-image: url("https://github.com/shelkelly/portfolio/blob/master/assets/webbg.jpg?raw=true");
    }

h1 {
    font-family: 'Grenze Gotisch', cursive;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    }

p {
    font-family: 'Peddana', serif;
    color: black;
    text-align: center;
    font-size: 25px;
    }

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    background-color: pink;
    padding: 5px;
}

#main {
    padding: 100px;
}

#maintxt {
    font-family: 'Peddana', serif;
    color: black;
    text-align: center;
    font-size: 32px;
}

.fixed-bottom {
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: pink;
}