
body {
    background-color:rgb(91, 80, 95);
    background-image: url("https://github.com/shelkelly/portfolio/blob/master/assets/172.jpg?raw=true");
    background-repeat: repeat;
    }

h1 {
    font-family: 'Antic Slab', serif;
    color: rgb(0, 0, 0);
    text-align: center;
    }

p {
    font-family:  'Antic Slab', serif;
    color: rgb(65, 25, 25);
    text-align: center;
    font-size: 16px;
    }

.shelby {
    float: right;
    width: 30%;
    border-radius: 150px;
    }

    .sk {
        border-style: solid;
    }

div {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    }

    .container-sm {
        width: 100%;
    }

.row {
    width: 100%;
    margin: 10px;
}

.row1 {
    width: 100%;
    background-color: rgb(109, 143, 109, 0.5);
    align-content: center;
    border-radius: 10px;
}

.header{
    text-align: center;
    width: 100%;
}

.row2 {
    width: 100%;
    background-color: rgb(109, 143, 109, 0.5);
    align-content: center;
    border-radius: 10px;
}

.imgcol {
    background-color: rgb(109, 143, 109);
    padding:5px;
    border-radius: 10px;
}
.aboutcol{
    background-color: rgb(109, 143, 109);
    padding: 20px;
    border-radius: 10px;
    margin-left:20px;
    text-align: center;
}

.clearfix {
    overflow: auto;
}

.col-xs {
    background-color: rgb(109, 143, 109);
    margin: 15px;
    border-radius: 10px;
}
.container-sm {
    width: 100%;
    border-radius: 10px;
    }

.grid-container {
    width: 100%;
    background-color: rgb(109, 143, 109, 0.5);
    align-content: center;
    border-radius: 10px;
}

.fa {
    font-size: 50px;
}

.contactme {
    padding: 20px;
}

.fixed-bottom {
    background-color: rgb(109, 143, 109);
    text-align: center;
}