
body {
    background-color:gray;
    background-image: url("https://github.com/shelkelly/portfolio/blob/master/assets/webbg.jpg?raw=true");
    }

h1 {
    font-family: 'Vollkorn SC', serif;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 70px;
    }

p {
    font-family: 'Peddana', serif;
    color: black;
    text-align: center;
    font-size: 26px;
    }

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    background-color: pink;
    padding: 5px;
}

#main {
    padding: 100px;
}

#maintxt {
    font-family: 'Peddana', serif;
    color: black;
    text-align: center;
    font-size: 32px;
}

.fixed-bottom {
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: pink;
}


.slide-right {
    width: 100%;
    overflow: hidden;
    margin-left: 0px;
    max-width: 1000px;
  }
  
  .slide-right h1 {
    animation: 3s slide-right .5s forwards;
      transform:translateX(-100%);
  }
  
  @keyframes slide-right {
    to {
      transform:translateX(0);
    }
  }
